<{include file="db:multimenu_header.html"}>

     <table class="outer" style="margin:3px;">
            <tr>
                <th width="20%">
                    <{$item}>
                </th>

                <{if $is_description}>
                <th width="<{if $is_admins }>30<{else}>80%<{/if}>">
                    <{$description}>
                </th>
                <{/if}>

                <{if $is_admin }>
                <th width="50%" colspan="2">
                    <{$admins}>
                </th>
                <{/if}>


            </tr>

     <{foreach item=item from=$items}>
     <{cycle values='odd,even' assign=class}>
            <tr>
                <td class="<{$class}>" style="text-align:center;">

                        <a href="<{$item.urw}>" 
                           title="<{$item.title}>">
                       <{if $item.logo && $is_image}>
                        <img src="<{$item.logo}>" 
                             width="<{$item.thumb_max_width}>"
                             alt="<{$item.title}>" 
                             align="absmiddle" /><br /><{/if}>
                        <{$item.title}>
                        </a>

                </td>

                <{if $is_description}>
                <td class="<{$class}>">
                    <{$item.description}>
                </td>
                <{/if}>

                <{if $is_admin}>
                <td class="<{$class}>">
                    <{$item.status}>
                </td>
                <{/if}>

                <{if $is_admin }>
                <td class="<{$class}>">
                    <{$item.admin}>
                </td>
                <{/if}>
                

            </tr>

     <{/foreach}>
     </table>
<p />
<{if $pagenav}>
     <div style="padding-left:70%;width:30%; align:center;"><{$pagenav}></div>
<{/if}>

<{include file="db:multimenu_footer.html"}>
